:root {
  --color1: rgb(204, 213, 174);
  --color2: rgb(233, 237, 201);
  --color3: rgb(254, 250, 224);
  --color4: rgb(250, 237, 205);
  --color5: rgb(212, 163, 115);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Tailwinds CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
