:root {
  --color1: rgb(204, 213, 174);
  --color2: rgb(233, 237, 201);
  --color3: rgb(254, 250, 224);
  --color4: rgb(250, 237, 205);
  --color5: rgb(212, 163, 115);

  /* calendar css */
  --bs-blue: #007bff;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #ee5f5b;
  --bs-orange: #fd7e14;
  --bs-yellow: #f89406;
  --bs-green: #62c462;
  --bs-teal: #20c997;
  --bs-cyan: #5bc0de;
  --bs-white: #fff;
  --bs-gray: #7a8288;
  --bs-gray-dark: #3a3f44;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #999;
  --bs-gray-600: #7a8288;
  --bs-gray-700: #52575c;
  --bs-gray-800: #3a3f44;
  --bs-gray-900: #272b30;
  --bs-primary: #3a3f44;
  --bs-secondary: #7a8288;
  --bs-success: #62c462;
  --bs-info: #5bc0de;
  --bs-warning: #f89406;
  --bs-danger: #ee5f5b;
  --bs-light: #e9ecef;
  --bs-dark: #272b30;
  --bs-primary-rgb: 58,63,68;
  --bs-secondary-rgb: 122,130,136;
  --bs-success-rgb: 98,196,98;
  --bs-info-rgb: 91,192,222;
  --bs-warning-rgb: 248,148,6;
  --bs-danger-rgb: 238,95,91;
  --bs-light-rgb: 233,236,239;
  --bs-dark-rgb: 39,43,48;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-body-color-rgb: 170,170,170;
  --bs-body-bg-rgb: 39,43,48;
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #aaa;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Tailwinds CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
