b{
  font-size: 40px;
}
.intro-container {
    display: flex;
    height: 100vh;
  }
  
  .left-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .right-container {
    flex: 1;
    position: relative;
  }
  
  .left-wrapper {
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:var(--color5)
  }
  
  .intro {
    font-size: 30px;
    font-weight: 300;
  }
  
  .name {
    font-size: 60px;
  }
  
  .title {
    height: 50px;
    overflow: hidden;
  }
  
  .title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
  }
  
  @keyframes move {
    25% {
      transform: translateY(-50px);
    }
    50% {
      transform: translateY(-100px);
    }
    75% {
      transform: translateY(-150px);
    }
    100% {
      transform: translateY(-200px);
    }
  }
  
  .title-item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: var(--color1);
    display: flex;
    align-items: center;
  }
  
  .scroll {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
  }
  
  .img {
    width: 70%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    padding: 15% 0% 0% 1%;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--color5);
  }
  
  .background {
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background-color: var(--color5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  @media screen and (max-width: 480px) {
    .intro-container {
      flex-direction: column;
    }
    .img {
      
      height: 100%;
      object-fit: cover;
      position: absolute;
      padding: 20% 0% 0% 1%;
  }
    .left-wrapper {
    
      padding: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
      
    }
  
    .desc{
      display: none;
    }
    
  }
  